body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #f3f4f6;
}

.login-main {
  width: 100%;
  height: 100vh;
  background: #111828;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-card {
  width: 280px;
  padding: 0 20px 20px 20px;
  background: #202938 !important;
}

.cabstartup-para {
  font-family: "Poppins, sans-serif";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 52px;
  text-align: center;
  letter-spacing: -2px;
  color: #20a8d9;
}

.login-cabstartup-para {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 52px;
  text-align: center;
  letter-spacing: -2px;
  color: #20a8d9;
  margin-top: 0;
}

.cabstartup-para-logo {
  font-family: "Poppins, sans-serif";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  text-align: center;
  letter-spacing: -2px;
  color: #20a8d9;
}

.start-para {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 52px;
  letter-spacing: -1px;
  color: #000000;
}

.start-para-logo {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  letter-spacing: -1px;
  color: #000000;
}

.back-office-para {
  color: #ffffff;
}

.btn-view-all {
  padding: 10px;
  cursor: pointer;
  background: none;
  border: none;
}

.reset-password {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Nunito";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  text-align: center;
  padding-bottom: 8px;
}

.registered-email {
  color: rgba(0, 0, 0, 0.87);
  font-family: "Nunito";
  font-size: 16px;
  text-align: center;
  font-style: normal;
  padding-bottom: 30px;
}

.email-icon {
  position: absolute;
  bottom: 12px;
  left: 350px;
}

.forgot-password {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: right;
  color: #20a8d9;
  cursor: pointer;
  text-decoration: none;
}

.remember-me {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #666666;
}

.login-btn {
  width: 100%;
  height: 36px;
  background: #202938;
  border: 1px solid #49515f !important;
  border-radius: 4px;
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}
.input-text {
  border: none;
  height: 30px;
  border-radius: 8px;
  padding-left: 8px;
  outline: none;
  color: #ffffff;
  background: #384152;
  margin-bottom: 10px;
}

.label-text {
  color: #ffffff;
}

.dont-account-text {
  color: #454e5b;
  padding-top: 10px;
  font-size: 12px !important;
}
.signup-text {
  color: #535c6a;
  font-size: 14px !important;
  cursor: pointer;
}

.outer-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.error-message {
  color: #ff0000;
  margin-top: -5px;
  margin-bottom: 10px;
}

.cart-btn {
  background-color: #2264f4;
  border: none;
  height: 30px;
  color: #ffffff;
  cursor: pointer;
  border-radius: 4px;
}

.price-text {
  color: #ffffff;
}

.plus-btn {
  border: none;
  background: #f3f4f6;
  border-radius: 4px;
  padding: 5px 12px;
}

.total-text {
  font-size: 18px !important;
  font-weight: bold !important;
}

.checkout-btn {
  border: none;
  background: #3b82f6;
  width: 100%;
  height: 30px;
  cursor: pointer;
}

.sticky-grid {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.outer-products {
  margin-left: 100px;
  margin-right: 100px;
}

.cart-outer {
  margin: 30px 100px 0px 100px;
}

@media (max-width: 576px) {
  .outer-products {
    margin-left: 10px;
    margin-right: 10px;
  }
  .cart-outer {
    margin: 30px 10px 0px 10px;
  }
}

@media (max-width: 768px) {
  .login-card {
    overflow-y: auto !important;
  }
}
